body{
    margin:0;
}
#navbar {
    width: 80vw;
    height: 60px;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    overflow: hidden;
    text-align: center;
    margin-left:150px;
    margin-right: 150px;
    margin-top:30px;
    display: grid;
    place-items: start center;
    padding-bottom:5px; 
}

/*
#nav-toggle{
    color:black;
    float:left;
    font-size: 25px;
    line-height: 1.3;
} */
#search-form {
  display: inline-table;
}

#search-form .wrapper {
  margin: 0 7px;
}

.text-field {
  border-radius:5px;
  outline: none;
  border:none;
  background-color: rgb(175, 175, 175, 0.2);
  padding: 8px 8px;
  box-shadow: 0 8px 14px -6px rgba(0, 0, 0, 0.2) inset;
}

#search-button{
    border-radius:50%;
    outline: none;
    border:none;
    padding: 2px 10px;
    background-color: rgb(88, 89, 92);
    box-shadow: 0 8px 14px -7px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size:80%;
    color: white;
}

/* Change the color of links on hover */
#search-button:hover {
  background-color: rgba(31, 33, 44, 0.85);
  color: white;
  box-shadow: 0 8px 14px -4px rgba(0, 0, 0, 0.3);
  font-size:88%;
  font-weight: bold;
}



#map-container {
  width: 100vw;
  height: 100vh;
  /* float: left;
  clear: left; */
}

#map {
  border: none;
  height: 100%;
  width: 100%;
  /* border-radius:15px; */
  display: -webkit-inline-box;
  outline: none;
}

#list ul{
    list-style-type:none;
    margin: 0;
    padding: 2%;
}
#list ul li{
    background-color: rgba(85, 90, 95, 0.621);
    color: white;
    border-radius: 15px;
    padding: 5px 20px;
    box-shadow: 0 8px 14px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    z-index: 2;
      transition: transform .2s; /* Animation */
    width: 100%;
}
#list ul li:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: rgba(85, 90, 95, 0.904);

}

#logo{
    width:110px;
    position: absolute;
    top: 5px;
    left:5px;
    margin-left:10px;
    z-index: 20;
}

#article-list-container {
  height: auto;
  max-height: 85%;
  width: 27vw;
  min-width:400px;
  position: fixed;
  z-index: 200;
  top: 100px;
  right: -1200px;
  /* background-color: #111; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 1vw;
  padding-right: 4vw;
  /* font-family: Comfortaa; */
}

#list{
    margin-bottom: 80px;
}

#article-list-container a {
  padding: 0;
  margin:0;
  text-decoration: none;
  font-size: 17px;
  color: black;
  display: block;
  transition: 0.3s;
}

#article-list-container a:hover {
  color: white;
}

#article-list-container .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
}

#article-list-container .closebtn:hover {
  cursor: pointer;
}

@media screen and (max-height: 500px) {
  #article-list-container {padding-top: 10px;}
  #article-list-container a {font-size: 12px;}
}

.wrapper {
    position: relative;
    display: inline-flex;
    min-width: 100px;
}

.search-icon {
    /* outline: none; */
    border: 1px white solid;
    box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 20px 25px;
    background-color: rgba(252, 254, 255, 0.561);
    cursor: pointer;
}

.search-icon:hover {
    background-color: rgba(245, 249, 255, 0.87);
    border: 1.5px solid #009688;
}
.clear-region-icon {
    position: absolute;
    top: 16px;
    left: 10px;
    width: 12px;
    cursor: pointer;
    /* <!-- visibility: hidden; --> */
}
.clear-topic-icon {
    position: absolute;
    top: 16px;
    left: 10px;
    width: 12px;
    cursor: pointer;
    /* <!-- visibility: hidden; --> */
}

.searchRegion {
    border: 1px solid grey;
    border-radius: 25px;
    height: 35px;
    width: 13vw;
    padding: 3px 40px 3px 30px;
    font-size: 16px;
    outline: 0;
    background-color: #f5f5f542;
    color:white;

}
.searchRegion:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: rgba(255, 255, 255, 0.315);
}

.searchTopic {
    border: 1px solid grey;
    border-radius: 25px;
    height: 35px;
    width: 13vw;
    padding: 3px 40px 3px 30px;
    font-size: 16px;
    outline: 0;
    background-color: #f5f5f542;
    color:white;
}
.searchTopic:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: rgba(255, 255, 255, 0.404);
}
.searchTopic::placeholder, .searchRegion::placeholder {
    color:white;
}

#form-search-button {
    border-radius: 20px;
    outline:none;
    border:none;
}

#tutorial{
    width: 100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    cursor: pointer;
    color:white;
    text-align: center;
    background-color: rgba(73, 73, 73, 0.6);

    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

#hamburger{
    font-size:50px;
    cursor:pointer;
    color:white;
    position: absolute;
    top:17px;
    right:45px;
    z-index: 200;
}

#hamburger a{
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px 30px;
  color: white;
  position: relative;
  top: -6px;
}

/* .header-content{
    display: inline-block;
} */

/* .title-content{
    float: right;
} */

.thumbnail-content{
    width: 30%;
    height: 50%;
    min-width: 10px;
    max-width:70px;

    max-height:50px;
    float: left;
    margin-top: -2px;
    display: inline-flex;
    margin-right: 10px;
}
#ham{
    padding: 0 10px;
    background: none;
    color:white;
    /* outline: none; */
    border:none;
    font-size: 40px;
    margin:10px;
    cursor:pointer;
}
#ham:hover, #logout:hover, #login:hover {
    color:rgba(185, 185, 185, 0.835);
}
#polbutton{
    z-index: 500;
}

.themes{
    display: block;
    position: absolute;
    top:110px;
    left:5px;
    font-family: Comfortaa;
    font-size:19px;
    color:white;
    font-weight: bold;
}
.themes ul{
    list-style-type:none;
    background-color: rgba(96, 100, 105, 0.575);
    /* background-color: rgb(139 151 160 / 26%); */
    color: white;
    transition: transform .2s; /* Animation */
    box-shadow: 0 8px 14px -2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin:10px;
    border: 0.3px white solid;

}
.themes ul li{
    padding: 2px 10px;
    margin-bottom: 10px;
    z-index: 2;
    width: 100%;
}
.themes ul:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: rgba(85, 89, 95, 0.664);
}

#small-screen-display{
    display: none;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    height: 100vh;
    width: 100vw;
}
#exit-small-form-listener{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background:none;
}
#small-screen-display-form{
    background-color: rgba(85, 89, 95, 0.564);
    /* background-color: rgb(139 151 160 / 26%); */
    color: rgb(255, 255, 255);
    transition: transform .2s; /* Animation */
    box-shadow: 0 8px 14px -2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 50px;
    margin:10px;
    font-size:100%;
}

#small-screen-display-form ul{
    font-family: Comfortaa;
    list-style-type:none;
    font-size:25px;
}
#small-screen-display-form ul li{
    margin:7px;
}

#small-screen-display-form:hover{
    transform: scale(1.05); 
    background-color: rgba(85, 89, 95, 0.764);
}

#small-search-form .wrapper {
    margin: 0 7px;
}

.small-screen-close{
    position: relative;
    right:5px;
    top:5px;
}
.search-expand{
    display: none;
}
@media only screen and (max-width: 1200px) {
    #search-form{
        display: none;
    }

    #small-screen-display{
        display: grid;
    }

    .search-expand{
        display: block;
        position:absolute;
        left:23px;
        top:130px;
        /* outline: none; */
        border: 1px white solid;
        box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        padding: 33px 38px;
        background-color: rgba(255, 255, 255, 0.575);
        z-index: 400;
        cursor: pointer;
    }

    .search-expand:hover{
        background-color: rgba(245, 249, 255, 0.87);
        border: 1.5px solid #009688;
    }

    .themes{
        display: none;
    }

    #small-search-form {
        display: inline-table;
    }

    #article-list-container {
        width:85vw;
        padding-left: 4vw;
        padding-right: 8vw;
        margin: 10px;
    }
    .searchRegion {
        height: 44px;
        width: 19vw;
        font-size: 22px;
    }

    .searchTopic {
        height: 44px;
        width: 19vw;
        font-size: 22px;
    }
    #exit-small-form-listener{
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: -1;
        background:none;
    }
}
